$background: #313131;
$border-color: #f1304d;
$item-background: #892e43;
$color: #ffffff;

body{
  background: $background;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  color: $color;
}

#root{
  display: block;
  position: relative;
  min-height:100vh;
  height:auto;
  margin: 0 auto;
}

.container{
  display: block;
  position: relative;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
}

.main_block{
  display: block;
  position: relative;
  background: $background;
  min-height: 100vh;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
}

.map_body{
  display: block;
  position: relative;
  margin: 0;
  padding: 10px;
  max-width: 100%;
}

.location{
  display: block;
  position: relative;
  margin: 0;
  width:auto;
  height: auto;
  transition: all 0.5s;
}

.location__item{
  display: block;
  position: relative;
  width:auto;
  height: auto;
  margin-bottom: 5px;
}

.location__head{
  display: flex;
  position: relative;
  margin: 0;
  flex-direction: row;
  background: $item-background;
  justify-content: flex-start;
  align-content: center;
  padding-left: 5px;
  border-left: 10px solid $border-color;
}

.childs_exists .location__head{
  padding-left: 35px;
}

.childs_exists .location__head:before{
  content: '';
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  height: 20px;
  width: 20px;
  left: 10px;
  top: 50%;
  margin-top: -10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.childs_exists .location_active:before{
  background-image: url(/public/images/down.svg);
}

.childs_exists .location_not_active:before{
  background-image: url(/public/images/right.svg);
}


.location__head_item{
  padding: 5px;
}

.childs_exists{
  cursor: pointer;
}

.location__children{
  position: relative;
  margin-left: 15px;
}

.opened_childs{
  display: block;
}

.closed_childs{
  display: none;
}

.block_head{
  margin: 0 auto;
  padding: 20px 0 10px;
  text-align: center;
}